/**
* =============================================================================
* CONTENTS
* =============================================================================
*
* NOTES............. Worth reading before getting started.
* RESET............. Uses normalize.css to bring consistency to all browsers.
* VARIABLES......... Properties that are used multiple times in the stylesheet.
* MIXINS............ Provides useful mixins that can be used throughout the stylesheet.
* CLEARFIX.......... Uses the micro clearfix by Nicolas Gallagher to solve issues
*                    with floats.
* IMAGES............ Everything to do with images.
* LINKS............. Anchor tags and custom hyperlinks to other pages.
* NAV............... Base navigation object used for all navigational elements.
* TEXT.............. Font sizes and styling.
* FOUNDATIONS....... Contains styles related to the main structural containers
*                    of the web page.
* ICONS............. Icons used in the theme.
* HEADER............ Page header styles.
* SITENAV........... Navigation for the pages on the site.
* SOCIALNAV......... Social navigation displayed in the header.
* CODE.............. CSS used to display code snippets.
* POST.............. An individual post.
* POSTSUMMARY....... Post displayed in a list of posts.
* ARCHIVE........... Archive page.
* PAGE.............. Generic page styles
*/
/**
* =============================================================================
* $NOTES
* Worth reading before you get started.
* =============================================================================
*
* This stylesheet uses principles and conventions that can be viewed
* here (https://github.com/necolas/idiomatic-css). Lets try and keep
* to these conventions as best as possible.
*
* Any deviations or problems with the conventions should be discussed
* and documentated beneath here so anyone working on the stylesheet
* can be made aware.
*
* STANDARDS
*  -   Properties within a style declaration are ordered alphabetically not in
*      order of importance.
*  -   Multi-line comments have to use the * due to syntax highlighting in
*      sublime doesn't handle multi line comments very well.
*  -   When dealing with attributes that affect the type (borders, font-size,
*      margins & padding). See here for more details as to why
*      (http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style/).
*  -   No need to use a unit on the end of line-height.
*      (http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/)
*  -   Never go four levels deep when nesting
*      (http://thesassway.com/beginner/the-inception-rule).
*
* FONTS
*      Currently the fonts are handled using typekit (https://typekit.com/).
*      Available fonts:
*          - ff-tisa-web-pro
*
* Happy CSS'ing :)
*/
/**
* =============================================================================
* $RESET
* =============================================================================
*/
/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* ==============================================================================
* $VARIABLES
* Variables used throughout the stylesheet.
* ==============================================================================
*/
/**
 * Background color for the page.
 */
/**
 * Default spacing unit to give to elements that require spacing.
 */
/**
* ==============================================================================
* $MIXINS
* ==============================================================================
*/
/**
* Creates a drop shadow using the box-shadow property.
*/
/**
* Aligns the element in the center of its parent.
*/
/**
* ==============================================================================
* $CLEARFIX
* ==============================================================================
*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf, .site-header, .social-navigation, .single-post, .post-details .post-meta, .post-navigation, .post-summary, .post-summary .narrow-post, .post-summary .wide-post, .archive .post {
  zoom: 1; }
  .cf:before, .site-header:before, .social-navigation:before, .single-post:before, .post-details .post-meta:before, .post-navigation:before, .post-summary:before, .post-summary .narrow-post:before, .post-summary .wide-post:before, .archive .post:before, .cf:after, .site-header:after, .social-navigation:after, .single-post:after, .post-details .post-meta:after, .post-navigation:after, .post-summary:after, .post-summary .narrow-post:after, .post-summary .wide-post:after, .archive .post:after {
    content: " ";
    display: table; }
  .cf:after, .site-header:after, .social-navigation:after, .single-post:after, .post-details .post-meta:after, .post-navigation:after, .post-summary:after, .post-summary .narrow-post:after, .post-summary .wide-post:after, .archive .post:after {
    clear: both; }

/**
* =============================================================================
* $IMAGES
* =============================================================================
*/
img {
  max-width: 100%; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
* =============================================================================
* $LINKS
* =============================================================================
*/
a {
  color: #0a8ce3; }
  a:hover {
    text-decoration: none; }

/**
 * =============================================================================
 * $NAV
 * =============================================================================
 */
.nav {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav > li {
    display: inline-block; }

/**
* =============================================================================
* $TEXT
* =============================================================================
*/
h1 {
  color: #0a8ce3;
  font-family: "ff-tisa-web-pro", Arial, sans-serif;
  font-size: 2.2em;
  margin: 0;
  padding: 0; }

h2 {
  font-family: "ff-tisa-web-pro", Arial, sans-serif; }

.small-medium-text, .site-nav, .post-summary .narrow-post {
  font-size: 0.9em; }

/**
 * =============================================================================
 * $FOUNDATIONS
 * =============================================================================
 */
body {
  background-color: #efefef; }

.site-header {
  margin-bottom: 1em;
  /**
   * Social navigation inside the header is positioned absolutely in the top
   * right corner so need to make sure the right & top co-ordinates are based
   * on the header and not the main page.
   */
  position: relative; }

html {
  color: #4c4c4c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

.main {
  margin: 0 auto; }

.site-page {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  max-width: 1100px;
  /**
   * Now that the page is as small as the main content area, the background is
   * no longer visible on the sides. To stop the top and bottom corners looking
   * odd with a rounded corner the corners should be made square to give a more
   * fitted feel.
   */ }
  @media all and (max-width: 1100px) {
    .site-page {
      border-radius: 0; } }

/**
* ==============================================================================
* $ICONS
* ==============================================================================
*/
.date-icon, .tag-icon {
  background-position: center left; }

.date-icon {
  background: url("../images/icon-date.png") no-repeat; }

.tag-icon {
  background: url("../images/icon-tag.png") no-repeat; }

.social-media-icon {
  background: url("../images/icon-sprite.png") no-repeat; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 196dpi) {
  .social-media-icon {
    background: url("../images/icon-sprite@x2.png") no-repeat;
    background-size: 111px 102px; } }
.icon-endomondo {
  width: 50px;
  height: 50px;
  background-position: -55px 0px; }

.icon-github {
  width: 50px;
  height: 50px;
  background-position: 0px 0px; }

.icon-twitter {
  width: 50px;
  height: 41px;
  background-position: 0px -55px; }

/*
 * =============================================================================
 * $HEADER
 * =============================================================================
 */
.site-header {
  /**
  * Used in the header text to either show the long or short version of the text
  * depending on the screen size.
  */ }
  .site-header .header-detail {
    float: left;
    height: 100%;
    padding-left: 1.3em; }
  @media all and (max-width: 320px) {
    .site-header .site-title {
      font-size: 1.4em; } }
  .site-header .shortened-name {
    display: none; }
    @media all and (max-width: 380px) {
      .site-header .shortened-name {
        display: block; } }
  @media all and (max-width: 380px) {
    .site-header .full-name {
      display: none; } }
  .site-header .logo {
    border-radius: 5px;
    float: left;
    max-width: 100px;
    vertical-align: middle;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6); }
    @media all and (max-width: 320px) {
      .site-header .logo {
        width: 30%; } }

/**
* =============================================================================
* $SITENAV
* =============================================================================
*/
.site-nav > li {
  margin-right: 1em;
  /**
   * No need for padding on the last item of the nav list.
   */ }
  .site-nav > li:last-child {
    margin-right: 0; }
  .site-nav > li a {
    color: #9b9a9a;
    text-decoration: none; }

/**
* ==============================================================================
* $SOCIALNAV
* ==============================================================================
*/
.social-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -5px;
  top: -5px; }
  .social-navigation img {
    max-height: 45px;
    max-width: 50px;
    padding-left: 5px; }
  .social-navigation li {
    float: left;
    margin-right: 10px; }
    .social-navigation li:last-child {
      margin-right: 0; }
  @media all and (max-width: 600px) {
    .social-navigation {
      margin-top: 0.6em;
      position: relative;
      right: 0;
      top: 0; }
      .social-navigation img {
        max-width: 30px; }
        .social-navigation img:first-child {
          padding-left: 0; } }

/*
* ==============================================================================
* $CODE
* ==============================================================================
*/
code {
  color: #0a8ce3; }

.code-sample {
  border-left: .6em solid #0a8ce3;
  font-size: 0.85em; }

.gist {
  background-color: #f5f5f5;
  border-left: 0.6em solid #0a8ce3;
  color: #373737;
  font-family: monospace, sans-serif;
  font-size: 0.75em;
  line-height: 1.2;
  padding: 0.3em 1em; }
  .gist .gist-meta {
    display: none; }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

/**
* ==============================================================================
* $POST
* ==============================================================================
*/
.post {
  line-height: 1.45em;
  /**
  * As the max-width is being set below, the text should stay central to avoid
  * any huge areas of white space.
  */
  margin: 0 auto;
  /**
  * Set a max-width because the lines felt too long and were difficult for the
  * user to read.
  */
  max-width: 800px;
  /**
  * Increase the font size for mobile to make things easier to read.
  */ }
  @media all and (max-width: 420px) {
    .post {
      font-size: 1.2em; } }
  .post .quote {
    border-left: 0.6em solid #0a8ce3;
    font-style: italic;
    padding: 0.3em;
    padding-left: 0.7em; }

.post-details div, .post-details .post-title {
  margin-bottom: 0.4em; }
.post-details .post-title {
  margin-bottom: 0.6em; }
  @media all and (max-width: 420px) {
    .post-details .post-title {
      font-size: 1.5em; } }
.post-details .publish-date, .post-details .tags {
  float: left;
  font-style: italic;
  line-height: 1.8;
  margin: 0.6em 0;
  margin-right: 1.7em;
  padding-left: 2.2em; }
.post-details .publish-date {
  background-size: 25px 25px;
  font-weight: bold; }
.post-details .tags {
  background-size: 25px 25px; }
  .post-details .tags a {
    color: #4c4c4c;
    font-weight: normal; }

.post-navigation .next-post {
  float: right; }
.post-navigation .previous-post {
  float: left; }

/**
* ==============================================================================
* $POSTSUMMARY
* ==============================================================================
*/
.post-summary {
  margin-bottom: 1em;
  /**
  * Holds the post title, summary and narrow post data.
  */
  /**
  * Displays the post summary when the screen size is large enough to fit it.
  */ }
  .post-summary .post-keyinfo {
    margin-left: 240px; }
    @media all and (max-width: 800px) {
      .post-summary .post-keyinfo {
        margin-left: 0; } }
  .post-summary .narrow-post {
    display: none; }
    .post-summary .narrow-post .publish-date, .post-summary .narrow-post .tags {
      float: left;
      font-style: italic; }
    @media all and (max-width: 800px) {
      .post-summary .narrow-post {
        display: block; } }
  .post-summary .post-link {
    color: #0a8ce3;
    display: none;
    margin-left: -0.2em;
    padding: 0.2em; }
    .post-summary .post-link:hover {
      background-color: #0a8ce3;
      color: white;
      padding: 0.2em;
      text-decoration: none;
      -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
      box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6); }
    @media all and (max-width: 800px) {
      .post-summary .post-link {
        display: block; } }
  .post-summary .post-publish-date, .post-summary .post-tags {
    line-height: 1.8;
    margin: 0.6em 0;
    margin-right: 1.7em;
    padding-left: 1.8em; }
  .post-summary .post-publish-date {
    background-size: 20px 20px;
    font-weight: bold; }
  .post-summary .post-snippet {
    line-height: 1.6;
    margin-bottom: 0.7em; }
    .post-summary .post-snippet p:first-child {
      margin: 0; }
    @media all and (max-width: 420px) {
      .post-summary .post-snippet {
        font-size: 1.2em; } }
  .post-summary .post-tags {
    background-size: 20px 20px; }
    .post-summary .post-tags a {
      color: #4c4c4c;
      font-weight: normal; }
  .post-summary .post-title {
    color: #0a8ce3;
    font-family: "ff-tisa-web-pro", Arial, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0; }
    @media all and (max-width: 420px) {
      .post-summary .post-title {
        font-size: 1.3em; } }
    .post-summary .post-title a {
      text-decoration: none; }
  .post-summary .wide-post {
    float: left;
    max-width: 240px; }
    .post-summary .wide-post .post-link {
      display: inline-block; }
    .post-summary .wide-post .post-publish-date {
      font-style: normal;
      font-weight: bold; }
    @media all and (max-width: 800px) {
      .post-summary .wide-post {
        display: none; } }

/**
* ==============================================================================
* $ARCHIVE
* =============================================================================
*/
.archive .month-year {
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-top: 1em; }
.archive .post {
  margin-bottom: 0.5em; }
  .archive .post .post-title {
    float: left;
    font-weight: 500;
    margin-top: 0.2em;
    text-decoration: none;
    width: 80%; }
  .archive .post .day {
    float: left;
    margin-right: 1.3em; }
    .archive .post .day .element {
      background-color: #0a8ce3;
      border-radius: 1.3em;
      color: white;
      display: block;
      font-weight: bold;
      height: 2.6em;
      line-height: 2.6;
      text-align: center;
      width: 2.6em; }
.archive .title {
  margin-bottom: 1em; }

/*
* =============================================================================
* $PAGE
* ==============================================================================
*/
.page-content .alignleft {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px; }
.page-content .alignright {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px; }
.page-content img {
  border-radius: 3px;
  max-width: 210px;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6); }
