body {
  background-color: #efefef;
  font-size: 100%;
}

header {
  margin-bottom: 15px;
  padding: 10px;
}

.main {
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  max-width: 900px;
}
@media all and (max-width: 320px) {
  .page {
    padding: 10px;
  }
}
@media all and (max-width: 768px) {
  .page {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

header a {
  background: none;
  text-decoration: none;
}
header a:hover {
  background: none;
  padding: 0;
  -webkit-box-shadow: 0 0 0 black;
  -moz-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
}
header .heading {
  display: inline-block;
  padding-left: 20px;
}
@media all and (max-width: 320px) {
  header .heading {
    font-size: 1.4em;
  }
}
header img {
  border-radius: 5px;
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  width: 20%;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 320px) {
  header img {
    width: 30%;
  }
}

a {
  color: #1e8cbf;
}
a:hover {
  background-color: #1e8cbf;
  color: #fff;
  padding: 3px;
  text-decoration: none;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}

h1 {
  color: #1e8cbe;
  font-family: Adelle, Arial, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.post-summary {
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  margin-bottom: 15px;
}
.post-summary .post-link {
  display: inline-block;
  margin: 5px 0;
  padding: 3px;
}
.post-summary .publish-date {
  font-size: 0.9em;
  font-weight: bold;
  margin: 8px 0;
}
.post-summary .snippet {
  line-height: 1.3em;
}
.post-summary .snippet p:first-child {
  margin: 0;
}
.post-summary .title {
  color: #1e8cbf;
  font-family: Adelle, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
