body {
  background-color: #efefef;
  font-size: 100%;
}

header {
  margin-bottom: 15px;
  padding: 10px;
}

.main {
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  max-width: 900px;
}
@media all and (max-width: 320px) {
  .page {
    padding: 10px;
  }
}
@media all and (max-width: 768px) {
  .page {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

header a {
  text-decoration: none;
}
header .header-text {
  display: inline-block;
  height: 100%;
  padding-left: 20px;
}
@media all and (max-width: 320px) {
  header .heading {
    font-size: 1.4em;
  }
}
header img {
  border-radius: 5px;
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 320px) {
  header img {
    width: 30%;
  }
}
header .page-navigation {
  display: inline-block;
}
header .page-navigation a {
  color: #9b9a9a;
  padding-right: 10px;
}

a {
  color: #0a8ce3;
}
a:hover {
  text-decoration: none;
}

h1 {
  color: #0a8ce3;
  font-family: Adelle, Arial, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.small {
  font-size: 0.8em;
}

.small-medium-text {
  font-size: 0.9em;
}

.medium-large-text {
  font-size: 1.2em;
}

.very-large-text {
  font-size: 2.5em;
}

.post {
  color: #666666;
  line-height: 1.45em;
}
.post .quote {
  border-left: 8px solid #0a8ce3;
  font-style: italic;
  padding: 5px;
  padding-left: 10px;
}

.post-details {
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-details div, .post-details .post-title {
  margin-bottom: 6px;
}
.post-details .post-title {
  margin-bottom: 15px;
}
.post-details .published-on a, .post-details .tags a {
  font-style: italic;
}
.post-details .published-on .date, .post-details .tags .date {
  font-style: italic;
  font-weight: bold;
}

.gist {
  background-color: #f5f5f5;
  border-left: 8px solid #0a8ce3;
  color: #373737;
  font-family: monospace, sans-serif;
  font-size: 0.75em;
  line-height: 1.2em;
  padding: 5px 15px;
}
.gist .gist-meta {
  display: none;
}

.post-summary {
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
.post-summary .post-link {
  color: #0a8ce3;
  display: inline-block;
  margin-left: -3px;
  padding: 3px;
}
.post-summary .post-link:hover {
  background-color: #0a8ce3;
  color: #fff;
  padding: 3px;
  text-decoration: none;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}
.post-summary .publish-date {
  font-weight: bold;
  margin: 8px 0;
}
.post-summary .snippet {
  line-height: 1.3em;
  margin-bottom: 10px;
}
.post-summary .snippet p:first-child {
  margin: 0;
}
.post-summary .title {
  color: #0a8ce3;
  font-family: Adelle, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
}

.archive .month-year {
  color: #666666;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}
.archive .post {
  margin-bottom: 7px;
}
.archive .post .post-title {
  color: #666666;
  float: left;
  font-weight: 500;
  margin-top: 3px;
  text-decoration: none;
  width: 80%;
}
.archive .post .day {
  float: left;
  margin-right: 20px;
}
.archive .post .day .element {
  background-color: #0a8ce3;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.archive .title {
  margin-bottom: 15px;
}
