/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
a {
  color: #397af4;
}
a:hover {
  color: #397af4;
  text-decoration: none;
}
a:visited {
  color: #397af4;
}
body {
  background-color: #f2f2f2;
  color: #302c2c;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  margin-bottom: 10px;
}
header {
  border-bottom: 1px solid #9d9d9d;
  background: #0593bb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0593bb), color-stop(1, #0593bb));
  background: -ms-linear-gradient(bottom, #0593bb, #0593bb);
  background: -moz-linear-gradient(center bottom, #0593bb 0%, #0593bb 100%);
  height: 215px;
  overflow: hidden;
  position: relative;
}
header h1 {
  display: table-cell;
  color: #fff;
  font-size: 4.5em;
  font-weight: 550;
  height: 215px;
  margin: 0;
  padding: 0 0 0 57px;
  vertical-align: middle;
}
header .short-title {
  display: none;
}
@media all and (max-width: 520px) {
  header h1 {
    padding-left: 20px;
  }
  header .long-title {
    display: none;
  }
  header .short-title {
    display: table-cell;
  }
}
nav {
  border-bottom: 1px solid #c9c9c9;
  background: #373737;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373737), color-stop(1, #373737));
  background: -ms-linear-gradient(bottom, #373737, #373737);
  background: -moz-linear-gradient(center bottom, #373737 0%, #373737 100%);
  padding: 7px 7px 7px 50px;
}
nav a {
  display: inline-block;
  margin-right: 18px;
}
nav a img {
  max-height: 40px;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 520px) {
  nav {
    padding: 7px 7px 7px 20px;
  }
}
img {
  max-width: 100%;
}
#main {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 15px;
  padding: 45px 20px 45px 20px;
  position: relative;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  max-width: 1000px;
}
#main nav {
  background: none;
  border: 0;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
}
#main nav a {
  background-color: #0593bb;
  color: #fcfcfc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
}
#main nav a:hover {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
#main nav.bottom {
  bottom: 5px;
  left: 5px;
}
#main nav.top {
  right: 5px;
  top: 5px;
}
article {
  margin: 0 0 30px 0;
  overflow: hidden;
}
article .post-details {
  float: left;
}
article .post-details h1 {
  color: #424344;
  font-size: 3.4em;
  font-weight: 650;
  margin: 0;
  padding: 0;
}
article .post-details h1 a {
  color: inherit;
  text-decoration: none;
}
article .post-details .published-on {
  color: #0593bb;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
  margin: 5px 20px 10px 0;
}
article .post-details .tags {
  display: inline-block;
}
article .post-details .tags a {
  color: #0593bb;
}
article .post {
  color: #373737;
  float: left;
  line-height: 1.4em;
  width: 100%;
}
article .post .gist {
  background-color: #fafafa;
  border: 1px solid #dadada;
  padding: 5px 15px 5px 15px;
}
article .post .gist .gist-meta {
  display: none;
}
article .post img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
article .post img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
article .post img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article .post .alignright {
  float: right;
}
article .post .alignleft {
  float: left;
}
article .post .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 960px;
}
footer .content {
  margin: 0 auto;
  position: relative;
}
footer .content #to-the-top {
  background-color: #0593bb;
  border: 1px solid #0593bb;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.5em;
  height: 70px;
  line-height: 70px;
  position: absolute;
  right: 10px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  top: -45px;
  width: 70px;
}
