@import "css/elements.less";

body {
	background-color: #f0f0f0;
	color: #605555;
	margin-bottom: 10px;
}

header { 
	border-bottom: 1px solid #9d9d9d;
	.gradient(#494949, #494949, #585858);
	height: 90px;
	width: 100%;
	
	div {
		margin: 0 auto;
		max-width: 980px;
		padding: 20px 20px 20px 20px;
	}

	h1 {
		color: #fff;
		font-family: 'Boogaloo', Arial;
		margin: 0 auto;
		padding: 0;
	}
}

#sub-header {
	border-bottom: 1px solid #c9c9c9;
	.gradient(#e3e3e3, #d3d3d3, #e3e3e3);
	height: 60px; 
	width: 100%;
	
	div {
		margin: 0 auto;
		max-width: 980px;
	}
	
	img {
		max-height: 55px;
		margin: 0;
		padding: 0;
	}
}

#main {
	background-color: #fff;
	border: 1px solid #ececec;
	margin: 0 auto;
	margin-top: 10px;
	max-width: 980px;
	padding: 20px 20px 20px 20px;
	.rounded(9px);
}

@media only screen and (max-width: 1000px)  {
	#main {
		margin-top: 0;
		.rounded(0px);
	}
}

article {
	
	h1 { 
		color: #5a5a5a; 
		font-family: 'Boogaloo', Arial;
		font-size: 2.4em; 
		margin: 0; 
		padding: 0
	}
	
	a {
		color: #5a5a5a;
	
		&:hover {
			color: #5a5a5a;
			text-decoration: none;
		}
	}
	
	.published-on {
		font-size: 0.9em;
		font-weight: bold;
		font-style: italic;
	}
}