/**
* ==============================================================================
* $VARIABLES
* Variables used throughout the stylesheet.
* ==============================================================================
*/

// Maximum width of the main content of the page.
$content-width: 1100px;

// blue.
$primary-color: #0a8ce3;

$greyLight: #efefef;
$grey: #4c4c4c;

// grey.
$text-color: #4c4c4c;

// lighter grey
$lighter-text-color: #9b9a9a;

// font to use for the headings.
$heading-font: "ff-tisa-web-pro", Arial, sans-serif;

// font to use for code snippets.
$code-font: monospace, sans-serif;

// font used everywhere else in the theme.
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * Default spacing unit to give to elements that require spacing.
 */
$spacing-unit: 1em;
