@import "scripts/less/elements.less";

@blue: #0593bb;

a {
	color: #397af4;

	&:hover {
		color: #397af4;
		text-decoration: none;
	}
	
	&:visited {
		color: #397af4;
	}
}

body {
	background-color: #f2f2f2;
	color: #302c2c;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	margin-bottom: 10px;
}

header { 
	border-bottom: 1px solid #9d9d9d;
	.gradient(@blue, @blue, @blue);
	height: 215px;
	overflow: hidden;
	position: relative;
	
	h1 {
		display: table-cell;
		color: #fff;
		font-size: 4.5em;
		font-weight: 550;
		height: 215px;
		margin: 0;
		padding: 0 0 0 57px;
		vertical-align: middle;
	}

	.short-title {
		display: none;
	}
}

@media all and (max-width: 520px) {
	header {
		h1 {
			padding-left: 20px;
		}

		.long-title {
			display: none;
		}
		
		.short-title {
			display: table-cell;
		}
	}
}


nav {
	border-bottom: 1px solid #c9c9c9;
	.gradient(#373737, #373737, #373737);
	padding: 7px 7px 7px 50px;

	a {
		display: inline-block;
		margin-right: 18px;

		img {
			max-height: 40px;
			margin: 0;
			padding: 0;
		}
	}
}

@media all and (max-width: 520px) {
	nav {
		padding: 7px 7px 7px 20px;
	}
}

img {
	max-width: 100%;
}

#main {
	background-color: #f2f2f2;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 15px; 
	padding: 45px 20px 45px 20px;
	position: relative;
	.rounded(9px);
	max-width: 1000px;
	
	nav {
		background: none;
		border: 0;
		height: auto;
		margin: 0;
		padding: 0;
		position: absolute;
		
		a {
			background-color: @blue;
			color: #fcfcfc;
			.drop-shadow(0, 2px, 4px, 0.2);
			font-size: 0.8em;
			font-weight: bold;
			padding: 10px;
			.rounded(3px);
			text-decoration: none;

			&:hover {
                .drop-shadow(0, 0, 0, 0);
            }
		}
	}
	
	nav.bottom {
		bottom: 5px;
		left: 5px;
	}
	
	nav.top {
		right: 5px;
		top: 5px;
	}
}

article {
	margin: 0 0 30px 0;
	overflow: hidden;

	.post-details {
		float: left;

		h1 { 	
			color: #424344;
			font-size: 3.4em; 
			font-weight: 650;
			margin: 0; 
			padding: 0;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
		
		.published-on {
			color: @blue;
			display: inline-block;
			font-size: 0.9em;
			font-weight: bold;
			font-style: italic;
			margin: 5px 20px 10px 0;
		}

		.tags {
			display: inline-block;

			a {
				color: @blue;
			}
		}
	}

	.post {
		color: #373737;
		float: left;
		line-height: 1.4em;
		width: 100%;

		.gist {
			background-color: #fafafa;
			border: 1px solid #dadada;
			padding: 5px 15px 5px 15px;

			.gist-meta {
				display: none;
			}
		}

		img.alignright {float:right; margin:0 0 1em 1em}
		img.alignleft {float:left; margin:0 1em 1em 0}
		img.aligncenter {display: block; margin-left: auto; margin-right: auto}
		.alignright {float:right; }
		.alignleft {float:left; }
		.aligncenter {display: block; margin-left: auto; margin-right: auto}
	}
}

footer {
	margin: 0 auto;
	margin-bottom: 70px;
	max-width: 960px;
	
	.content {
		margin: 0 auto;
		position: relative;
		
		#to-the-top {
			background-color: @blue;
			border: 1px solid @blue;
			color: #fff;
			cursor: pointer;
			display: none;
			font-size: 1.5em;
			height: 70px;
			line-height: 70px;
			position: absolute;
			right: 10px;
			.rounded(35px);
			text-align: center;
			top: -45px;
			width: 70px;
		}
	}
}