
/**
* ==============================================================================
* $ARCHIVE
* =============================================================================
*/

.archive {
    .month-year {
        font-weight: bold;
        margin-bottom: 0.7em;
        margin-top: 1em;
    }

    .post {
        margin-bottom: 0.5em;

        .post-title {
            float: left;
            font-weight: 500;
            margin-top: 0.2em;
            text-decoration: none;
            width: 80%;
        }

        .day {
            float: left;
            margin-right: 1.3em;

            .element {
                background-color: $primary-color;
                border-radius: 1.3em;
                color: white;
                display: block;
                font-weight: bold;
                height: 2.6em;
                line-height: 2.6;
                text-align: center;
                width: 2.6em;
            }
        }
    }

    .title {
        margin-bottom: 1em;
    }
}
