/**
 * =============================================================================
 * $ARCHIVE
 * =============================================================================
 */

.archive-month-year {
    margin: $spacing-unit / 2 0;
}

.archive-post {
    @extend .cf;

    margin-bottom: $spacing-unit / 2;
}

.archive-post-date {
    float: left;
    margin-right: $spacing-unit;
}

.archive-post-date-day {
    background-color: $blue;
    border-radius: 1.3em;
    color: white;
    display: block;
    font-weight: bold;
    height: 2.6em;
    line-height: 2.6;
    text-align: center;
    width: 2.6em;
}

.archive-post-title {
    float: left;
    line-height: 2.2;
    text-decoration: none;
    width: 80%;
}
