/*
 * =============================================================================
 * $HEADER
 * =============================================================================
 */

 .site-header {
    @extend .cf;

    min-height: $logo-size * 1.2;
    margin-bottom: $spacing-unit;

    /**
     * Pushes the title and site navigation to the right of the site logo.
     */
    padding-left: $logo-size * 1.2;

    /**
     * Social navigation inside the header is positioned absolutely in the top
     * right corner so need to make sure the right & top co-ordinates are based
     * on the header and not the main page.
     */
    position: relative;

    /**
     * Logo is being reduced, so makes sense for the the text and navigation to
     * moved to the left to ensure a big gap doesn't arise.
     */
    @media all and (max-width: $palm) {
        padding-left: 35%;
    }
}


.site-logo {
    border-radius: 5px;
    max-width: $logo-size;
    position: absolute;
    top: 0;
    left: 0;

    @include drop-shadow(2px, 3px, 4px, 0.4);

    /**
     * Reduce the size of the logo for mobile.
     */
    @media all and (max-width: $palm) {
        width: 30%;
    }
}

.site-title {
    font-weight: 600;

    /**
     * Reduce the size of the font for mobile.
     */
    @media all and (max-width: $palm-end) {
        font-size: 1.4em;
    }
}
