/**
* ==============================================================================
* $ICONS
* ==============================================================================
*/

.date-icon, .tag-icon {
    background-position: center left;
}

.date-icon {
    background: url('../images/icon-date.png') no-repeat;
}

.tag-icon {
    background: url('../images/icon-tag.png') no-repeat;
}

.social-media-icon {
    background: url('../images/icon-sprite.png') no-repeat;
}

// when the screen resolution allows for a better quality image to be displayed
// (basically on iDevices) then lets serve an image that is a much better density.
@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 196dpi)
{
    .social-media-icon {
        background: url('../images/icon-sprite@x2.png') no-repeat;
        background-size: 111px 102px;
    }
}

.icon-endomondo {
    width: 50px;
    height: 50px;
    background-position: -55px -0px;
}

.icon-github {
    width: 50px;
    height: 50px;
    background-position: -0px -0px;
}

.icon-twitter {
    width: 50px;
    height: 41px;
    background-position: -0px -55px;
}
