/**
* =============================================================================
* $NAV
* =============================================================================
*/

.page-navigation {
    @extend .small-medium-text;

    display: inline-block;

    a {
        color: $lighter-text-color;
        padding-right: 0.7em;

        // hides the Home navigation item to give a bit more room.
        // the logo still acts as a link to the home page.
        @media all and (max-width: 280px) {
            &:first-child {
                display: none;
            }
        }
    }
}
