/*
 * =============================================================================
 * $PAGE
 * ==============================================================================
 */

.page-content {
    .alignright {
        float: right;
        margin-bottom: $spacing-unit;
        margin-left: $spacing-unit;
    }

    .alignleft {
        float: left;
        margin-bottom: $spacing-unit;
        margin-right: $spacing-unit;
    }

    img {
        border-radius: 3px;
        max-width: 210px;

        @include drop-shadow(2px, 3px, 4px, 0.4);
    }
}
