/**
 * =============================================================================
 * $POST
 * =============================================================================
 */

.single-post {
    @extend .cf;
}

.post-content {
    line-height: 1.45em;

    /**
     * As the max-width is being set below, the text should stay central to avoid
     * any huge areas of white space.
     */
    margin: 0 auto;

    /**
     * Set a max-width because the lines felt too long and were difficult for the
     * user to read.
     */
    max-width: 800px;

    /**
     * Increase the font size for mobile to make things easier to read.
     */
    @media all and (max-width: $lap) {
        font-size: $mobile-reading-font-size;
    }

    .quote {
        border-left: $spacing-unit / 2 solid $blue;
        font-style: italic;
        padding: 0.3em;
        padding-left: $spacing-unit / 2;
    }
}

.single-post-meta {
    @extend .cf;

    .post-publish-date, .post-tags {
        float: left;
    }
}

.post-navigation {
    @extend .cf;

    .next-post {
        float: right;
    }

    .previous-post {
        float: left;
    }
}
