/**
* ==============================================================================
* $POSTSUMMARY
* ==============================================================================
*/

.post-summary {
    margin-bottom: 1em;

    // holds the post title, summary and narrow post data.
    .post-keyinfo {
        margin-left: 240px;

        @media all and (max-width: 800px) {
            margin-left: 0;
        }
    }

    // displays the post summary when the screen size is
    // too small for the wide view.
    .narrow-post {
        display: none;

        .publish-date, .tags {
            float: left;
            font-style: italic;
        }

        @media all and (max-width: 800px) {
            display: block;
        }
    }

    .post-link {
        color: $primary-color;
        display: none;
        margin-left: -0.2em;
        padding: 0.2em;

        &:hover {
            background-color: $primary-color;
            color: white;
            padding: 0.2em;
            text-decoration: none;
            @include drop-shadow(2px, 3px, 4px, 0.4);
        }

        @media all and (max-width: 800px) {
            display: block;
        }
    }

    .publish-date, .tags {
        line-height: 1.8;
        margin: 0.6em 0;
        margin-right: 1.7em;
        padding-left: 1.8em;
    }

    .publish-date {
        background-size: 20px 20px;
        font-weight: bold;
    }

    .snippet {
        line-height: 1.6;
        margin-bottom: 0.7em;

        p:first-child {
            margin: 0;
        }

        // increase the font size for mobile to make things easier to read.
        @media all and (max-width: 420px) {
            font-size: 1.2em;
        }
    }

    .tags {
        background-size: 20px 20px;

        a {
            color: $text-color;
            font-weight: normal;
        }
    }

    .title {
        color: $primary-color;
        font-family: $heading-font;
        font-size: 1.8em;
        font-weight: bold;
        margin: 0;

        @media all and (max-width: 420px) {
            font-size: 1.3em;
        }

        a {
            text-decoration: none;
        }
    }

    // displays the post summary when the screen size
    // is large enough to fit it.
    .wide-post {
        float: left;
        max-width: 240px;

        .post-link {
            display: inline-block;
        }

        .publish-date {
            font-style: normal;
            font-weight: bold;
        }

        @media all and (max-width: 800px) {
            display: none;
        }
    }
}
