/**
 * ==============================================================================
 * $POSTSUMMARY
 * ==============================================================================
 */

.post-summary {
    @extend .cf;

    margin-bottom: $spacing-unit;
}

/**
 * Holds the post title, summary and post meta that is displayed when the screen
 * size is small.
 */
.the-post {
    margin-left: 240px;


    @media all and (max-width: $desk) {
        margin-left: 0;
    }

    /**
     * Displays the post summary when the screen size is too small for the wide
     * view.
     */
    .post-meta {
        @extend .cf;
        @extend .small-medium-text;

        display: none;

        .post-publish-date, .post-tags {
            float: left;
        }

        /**
         * Only display the meta data for the post when the screen size is small,
         * otherwise it is shown outside the-post container.
         */
        @media all and (max-width: $desk) {
            display: block;
        }
    }
}

.post-link {
    color: $blue;
    display: none;
    margin-left: -0.2em;
    padding: 0.2em;

    &:hover {
        background-color: $blue;
        color: white;
        display: block;
        padding: 0.2em;
        text-decoration: none;
        @include drop-shadow(2px, 3px, 4px, 0.4);
    }
}

.post-publish-date, .post-tags {
    background-size: 20px 20px;
    line-height: 1.8;
    margin: $spacing-unit / 2 0;
    margin-right: $spacing-unit;
    padding-left: $spacing-unit * 2;
}

.post-publish-date {
    font-weight: bold;
}

.post-snippet {
    line-height: 1.6;
    margin-bottom: $spacing-unit;

    p:first-child {
        margin: 0;
    }

    /**
     * Increase the font size for mobile to make things easier to read.
     */
    @media all and (max-width: $lap) {
        font-size: $mobile-reading-font-size;
    }
}

.post-tags > a {
    color: $grey;
    font-weight: normal;
}

.post-title {
    color: $blue;
    font-size: 1.8em;
    margin: 0;

    /**
     * Large titles take up too much space on smaller screens.
     */
    @media all and (max-width: $lap) {
        font-size: 1.3em;
    }

    a {
        text-decoration: none;
    }
}

/**
 * Displays the post summary meta info when the screen size is large enough to
 * fit it.
 */
.wide-post-meta {
    @extend .cf;

    float: left;
    max-width: 240px;

    .post-link {
        display: inline-block;
    }

    /**
     * Screen isn't big enough for the wide view.
     */
    @media all and (max-width: $desk) {
        display: none;
    }
}

