/**
* ==============================================================================
* $SOCIALNAV
* ==============================================================================
*/

.social-nav {

    /**
     * Social nav items are placed in the top right corner.
     */
    position: absolute;
    right: -5px;
    top: -5px;

    > li {

        /**
         * Ensures that the social nav items are aligned correctly.
         */
        float: left;
    }

    /**
     * No longer enough room for the social navigation items to fit in the top
     * right corner without them overlapping the site title & site navigation.
     */
    @media all and (max-width: 600px) {
        margin-top: $spacing-unit / 2;

        /**
         * Resets the positioning so the social nav items come below the site
         * navigation.
         */
        position: relative;
        right: 0;
        top: 0;
    }
}
