/**
 * =============================================================================
 * $LINKS
 * =============================================================================
 */

a {
    color: $blue;

    &:hover {
        text-decoration: none;
    }
}
