/**
 * =============================================================================
 * $NAV
 * =============================================================================
 */

.nav {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;
        margin-right: $spacing-unit / 2;

        /**
         * No need for padding on the last item of the nav list.
         */
        &:last-child {
            margin-right: 0;
        }
    }
}
